body{
    background-color: white;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
.carousel-containter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;  
}

.myslides{
    display:none;
    max-height: 100px; 
    max-width:100px;
}


